.country {
  color: grey;
  font-size: 30px;
  line-height: 26px;
  font-family: Google Sans, arial, sans-serif;
  font-weight: 400;
  display: block;
  margin: 0;
  padding: 0%;
  padding-left: 1em;
}

li {
  list-style: none;
}

ul {
  margin: 0%;
  padding: 0%;
}

.weather-app {
  border: 1px solid #d3d3d3;
  box-shadow: 2px 2px 5px #d3d3d3;
  padding: 3%;
  margin: 3%;
  border: 2px solid pink;
  border-radius: 10px;
}

.search-bar {
  padding: 3%;
  margin: 3%;
}

.submit {
  background-color: pink;
  color: white;
  border-radius: 10%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.temperature {
  color: black;
  font-size: 300;
}


.link2 {
text-align: center;
float: right;margin-right: 100px;
}
